{
  "presets": ["es2015", "stage-2", "react"],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform",
          {
            "generateScopedName": "[hash:8]",
            "extensions": [".css"]
          }
        ]
      ]
    }
  }
}
